<div class="page-header">
  <h1>Food Item #<%= @food_item.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Food item</dt>
  <dd><%= @food_item.food_item %></dd>

  <dt>Food category</dt>
  <dd><%= @food_item.food_category_id %></dd>

  <dt>Unit of measure</dt>
  <dd><%= @food_item.unit_of_measure_id %></dd>

  <dt>Average expiration days</dt>
  <dd><%= @food_item.average_expiration_days %></dd>
</dl>


<h4>Item Transaction History</h4>
<table class="table table-striped table-hover">
  <% @food_item.activity_lines.each do |activity_line| %>
    <tr>
      <td>
        <%= activity_line.activity_id %>
      </td>
      <td>
        <%= activity_line.source_of_purchase %>
      </td>
    </tr>
  <% end %>
</table>


